/***********************************************
        ESTILOS MENSAJES DE ERROR
/***********************************************/

.error {
        color: red;
        font-size: 12px;
}

.valid {
        color: green;
}
    
    .invalid {
        color: red;
}